<div class="card" style="max-width:100%">
    <div class="card-header">
        <div class="px-3 d-flex justify-content-around">
            <p class="h5 my-auto" style="min-width: fit-content">Your Registered Courses</p>
            <div class="ml-auto my-auto" style="min-width: fit-content">
                <input type="checkbox" value="GroupByDepartment"> Group by department
            </div>
        </div>
    </div>
    <div class="card-body">
        <input *ngIf="registeredCourses.length > 0" type="text" placeholder="Search" title="Type to search among registered courses" [(ngModel)]='courseFilter'>
        <div *ngIf="registeredCourses.length > 0" class="card-deck mt-4">
            <div *ngFor='let course of registeredCourses | CourseFilter: courseFilter' class="card courseCard" title="{{ course.title }}, {{ course.description }}">
                <img class="card-img-top"  src="{{ course.imageURL }}" alt="{{ course.title }}">
                <div class="card-block px-2">
                    <a href="departments/{{course.departmentId}}/{{course.courseId}}">
                        <h4 class="card-title mb-1">{{ course.title }}</h4>
                        <p class="card-subtitle text-muted">{{ course.description }}</p>
                        <p class="small text-muted">Date Registered: {{ course.dateRegistered }}</p>
                    </a>
                </div>
            </div>
        </div>
        <p *ngIf="registeredCourses.length <= 0">You have not registered in any course Yet. <span>Browse courses to get started <a href="/courses">here</a></span></p>
    </div>

</div>
<!-- <div class="card mt-3" style="max-width:100%">
    <div class="card-header">
        Popular Courses
    </div>
    <div class="card-body">
    </div>
</div> -->